.follow-image {
  width: 50px;
  height: 50px;
}

/* .card-title {
  bottom: 0px;
  position: relative;
} */

@media (min-width: 1400px) {
  .follow-image {
    width: 60px;
    height: 60px;
  }
  /* .card-title {
    top: 55%;
    position: relative;
  } */
}

@media (max-width: 1200px) {
  .list-group-item {
    padding-left: 0.5rem;
  }
  .tweet-btn {
    width: 150%;
    padding-left: 0;
    padding-right: 0;
  }
  /* .card-title {
    top: 45%;
    position: relative;
  } */
}
@media (max-width: 996px) {
  .list-group-item {
    padding-left: 1.5rem;
  }
  .tweet-btn {
    width: 100%;
    padding: auto;
  }
  /* .card-title {
    top: 50%;
    position: relative;
  } */
}